<html>
  {% block head %}
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sistema de Eleição</title>
      <link rel="stylesheet" href="/css/foundation.css">
      <link rel="stylesheet" href="/css/app.css">
      <link rel="stylesheet" href="/css/login.css">
      <link rel="stylesheet" href="/css/election.css">
      <link rel="stylesheet" href="/css/user-dashboard.css">
    </head>
  {% endblock %}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </div>
  <body>
    {% block content %}
    {% endblock %}

    {% block scripts %}
      <script src="/js/vendor/jquery.js"></script>
      <script src="/js/vendor/what-input.js"></script>
      <script src="/js/vendor/foundation.js"></script>
      <script src="/js/app.js"></script>
    {% endblock %}
  </body>
</html>
