{% extends "layouts/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-6 columns">
      <h1 class="title">Painel de Administração</h1>
    </div>
  </div>
<hr>
{{ votedElections | dump }}
<div class="row">
  {% for election in elections %}
    <div class="large-4 columns">
      <div class="card">
        <div class="card-content">
          <p><b>Votação para: </b>{{ election.title }} </p>
          <p><b>Iniciada em:</b> {{ election.initialDate }}</p>
          <p><b>Termina em:</b> {{ election.endDate  }} </p>

          {% if election.statusId != 0 %}
            <a href="/novo_candidato/{{ election.id }}" class="primary button">Adicionar Candidato</a>
          {% endif %}

          {% if election.statusId == 0 %}
            <a href="/results/{{ election.url_friendly }}" class="success button white">Ver Resultado</a>
          {% endif %}

          {% if election.voted == true and election.statusId != 0 %}
            <a href="/finalizar_eleicao/{{ election.id }}" class="alert button">Finalizar Eleição</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="row">
  <div class="large-4 columns">
    <a href="/nova_eleicao" class="margin-top-20 primary button">Nova Eleição</a>
  </div>
</div>
{% endblock %}
