{% extends "layouts/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-6 columns">
      <h1 class="title">Painel de Administração</h1>
    </div>
  </div>
<hr>
<div class="row">
  {% for election in elections %}
    <div class="large-4 columns">
      <div class="card">
        <div class="card-content">
          <p><b>Votação para: </b>{{ election.title }} </p> 
          <p><b>Iniciada em:</b> {{ election.initialDate | getDate}}</p> 
          <p><b>Termina em:</b> {{ election.endDate | getDate }} </p> 
          <p><b>Total de candidatos:</b> {{ election.Ncandidates }}</p> 
          <p><b>Total de votos:</b> {{ election.Nvotes }}</p> 
          
          <a href="/novo_candidato/{{ election.url_friendly }}" class="primary button">Adicionar Candidato</a>
          <a href="#" class="alert button">Finalizar Eleição</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="row">
  <div class="large-4 columns">
    <a href="#" class="margin-top-20 primary button">Nova Eleição</a>
  </div>
</div>
{% endblock %}
