{% extends "layouts/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-6 columns">
      <h1 class="title">Candidatos</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="large-4 columns">
      <div class="card">
        <div class="row">
          <div class="large-6 columns">
            <img src="img/candidates/obama.jpg">
          </div>
          <div class="large-6 columns margin-top-10">
            <p><b>Nome:</b> Obama</p>
            <p><b>Idade:</b> 40 anos</p>
            <p><b>Partido:</b> Democrata</p>
            <a href="#" class="success button radius"> VOTAR </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

