{% extends "layouts/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-6 columns">
      <h1 class="title">Candidatos</h1>
    </div>
  </div>

  <hr>

  <div class="row">
  {% for candidate in candidates %}
    <div class="large-4 columns">
      <div class="card">
        <div class="row">
          <div class="large-6 columns">
            <img src="/img/candidates/{{ candidate.picName }}">
          </div>
          <div class="large-6 columns margin-top-10">
            <form action="/vote/{{ candidate.id }}/{{ candidate.electionId }}" method="POST">
              <p><b>Nome:</b> {{ candidate.name }}</p>
              <p><b>Idade:</b> {{ candidate.age }}</p>
              <p><b>Partido:</b> {{ candidate.politicalParty }}</p>

              <button type="submit" class="success button radius">VOTAR</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}

