{% extends "layouts/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-4 large-centered columns">
      <div class="box">
        <div class="box-header">
          Novo Candidato
        </div>
      <form action="/candidate/new" method="POST" enctype="multipart/form-data"> 
        Nome: <input type="text" name="name" required>
        Idade: <input type="text" name="age" required>
        Partido: <input type="text" name="political_party" required>
        Foto: <input type="file" name="pic_name" accept="image/*">  

        <input class="primary button" type="submit" value="Salvar">
      </form>

    </div>
  </div>
</div>

{% endblock %}
