{% extends "layouts/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-5 large-centered columns">
      <div class="box">
        <div class="box-header">
          <h1>Novo Candidato</h1>
        </div>
      <form action="/candidate/new" method="POST" enctype="multipart/form-data">
        Nome: <input type="text" name="name" required>
        Idade: <input type="text" name="age" required>
        Partido: <input type="text" name="political_party" required>
        Foto: <input type="file" name="pic_name" accept="image/*">
        <input type="hidden" name="electionId" value="{{ electionId }}">
        <div class="row">
          <div class="large-6 columns">
            <input class="primary button full-width" type="submit" value="Salvar">
          </div>
          <div class="large-6 columns">
            <a href="/admin" class="button full-width">Voltar</a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
