{% extends "layouts/base.html" %}

{% block content %}
  <div class="row">
    <div class="large-6 columns">
      <h1 class="title">Lista de Eventos</h1>
    </div>
  </div>
  <div class="row">
    {% if session.errorVote == true %}
      <div class="large-12 columns">
        <div class="alert callout small" data-closable>
          <span> <b>Erro!</b> Seu Voto não foi registrado. Tente novamente</span>
          <button class="close-button" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endif %}

    {% if session.successVote == true %}
      <div class="large-12 columns">
        <div class="success callout small" data-closable>
          <span> <b>Sucesso!</b> Seu Voto foi registrado.</span>
          <button class="close-button" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    {% endif %}
  </div>

  <hr>
  <div class="row">
    {% if elections.length > 0 %}
      {% for election in elections %}
        <div class="large-4 columns">
          <div class="card">
            <div class="card-content">
              <p><b>Votação para: </b>{{ election.title }} </p>
              <p><b>Iniciada em:</b> {{ election.initialDate }}</p>
              <p><b>Termina em:</b> {{ election.endDate }} </p>
              <p><b>Total de candidatos:</b> <span> {{ election.candidates }} </span> </p>
              <p><b>Total de votos:</b> <span>{{ election.votes }}</span> </p>
              {% if election.userVoted == true %}
                <a class="secondary button" href="#">Você já Participou </a>

              {% elif election.statusId == 1 and election.userVoted == false %}
                <a href="/election/{{ election.url_friendly }}" class="primary button">Participar</a>
              {% endif %}

              {% if election.statusId == 0 %}
                <a href="/results/{{ election.url_friendly }}" class="success button white">Ver Resultado</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <h2> Não existem eleições disponiveis </h2>
    {% endif %}
    </div>
  </div>
{% endblock %}


